body {
	background-color: lightgrey;
}


h1 {
	color: darkblue;
	font-size: 40px;
	text-align: center;
}


.main {
	padding-left: 50px;
	padding-right: 50px;
	color: darkblue;
	font-size: 20px;
	text-align: left;
	
}